

*{
	box-sizing: border-box;
}

body{
	font-family: Roboto, Verdana, sans-serif;
	width: 1440px;
	height: 2096px;
	background: #A3B18A;
}
header{
		background: rgba(217, 217, 217, 0.6);;
		height: 275px;
	}
h1 {
	font-size: 40px;
    
}
h2{
	font-size: 	34px;

}
h4 {
	padding: 30px;
	position: relative;
	float: left;
	font-size: 24px;
}
ul{
	margin-top: 0px;
}
li{
	padding: 33px;
	float: left;
	width: 275px;
	background-color: #588157;
	border:solid black;
}
header h1{
	position: absolute;
	float: right;
	clear: right;
	height: 94px;
	width: 445px;
	left: 322px;
	top: 50px;
	font-size: 40px;

}
nav.profilemenu{
	position: absolute;
	background-color: #3A5A40;
	width: 275px;
	height: 1200px;
	border:solid black;
}


section.labels{
	width: 236px;
height: 40px;
left: 356px;
top: 819px;
border:solid black;
}
section.profile {
	position: relative;
	background-color: #588157;
	width: 275px;
	height: 275px;
	border:solid black;
	margin: 0px;
}



section.header1{
	position: absolute;
 	float: right;
 	width: 541px;
	height: 100px;
	left: 836px;
	top: 52px;
	border:solid black;
}
section.trainers{
	position: absolute;
	font-size: 22px;
	left: 322px;
	float: right;
	width: 443px;
	height: 90px;
	left: 324px;
	top: 247px;
	background-color: #A3B18A;
	border:solid black;
}

section.table1 {
	position: absolute;
	float: left;
	clear: left;
	width: 1047px;
	height: 273px;
	left: 324px;
	top: 360px;
	background-color: rgba(217, 217, 217, 0.6);
}
section.table2 {
	position: absolute;
	float: left;
	clear: left;
	width: 1047px;
	height: 273px;
	left: 324px;
	top: 645px;
	background-color: rgba(217, 217, 217, 0.6);
}
div.content1{
	height: 70%;
}

div.title{
	background-color: #D9D9D9;
	width: 1047px;
	height: 80px;
	left: 324px;
	top: 645px;
	box-sizing: border-box;
}
div.title2{
	background-color: #D9D9D9;
	width: 1047px;
	height: 80px;
	left: 324px;
	top: 360px;
	box-sizing: border-box;
}

div.progressbar{
 	width: 541px;
	height: 22.08px;
	left: 812px;
	top: 52px;
	border: solid black;
}

div.gray {
	background-color: gray;
	height: 24px;
	width:100%;	
}

div.green {
	position: absolute;
	background-color: #3A5A40;
	height:24px;
	width:60%;

}
div.grade{
	font-size: 40px;
	float: right;
	margin-top: 30px;
	border:solid black;
}
div.content1 p{
	padding: 25px 40px 39px 25px;
	font-size: 16px;
	line-height: 1.5em;
}
div.title h2{
position: absolute;
	font-size: 29px;
	text-align: left;
	padding: 25px 40px 20px 25px;
		height: 80px;

}
div.title2 h2{
position: absolute;
	font-size: 29px;
	text-align: left;
	padding: 25px 40px 20px 25px;
		height: 80px;

}
section.profile h4{
	
	border:solid black;
	width: 275px;
	text-align: center;
}

section.trainers h3{
	
	position: absolute;
	margin-top: 21px;
	border:solid black;

}
#progress div.progressbar{
			margin-top: 48px;


}
#labels h2{
	font-size: 29px;
	text-align: left;
		height: 39px;
		margin-top: 24px;
		padding: 25px 40px 20px 75px;
		margin left: 21px;

}
#imgprofile{
	position: relative;
	width: 120px;
	height: 135px;
	top: 50px;
	left: 75px;
	float:left;
	border:solid black;
	margin-bottom: 50px;
}
#profile1{
	position: relative;
	float:right;
	margin: 6px;
	border:solid black;

}

#labels {
    position: absolute;
    float: right;
    clear: right;
  height: 70%;
  width: 39%;
}
#progress{
	position: relative;
    float: right;
    width: 60%;
  height: 100%;

}

#contentbox{
	
height: 100%;
  background-color: lightblue;
}

#comment-input{
	position: absolute;
	width: 30%;
	height: 100%;
	border:solid black;
}
#comments{
		position: relative;
		float: right;
		clear: left;
		clear: right;
    	width: 50%;
    	height: 100%;
	border:solid black;

}









